.button {
  &--sm {
    min-height: 2.5rem;
    max-height: 2.5rem;
    border: 0.063rem solid $green;
    transition: border 0.2s ease-in-out;

    &:hover {
      border: 0.063rem solid $green-hover;
    }

    @include desktop {
      max-width: 10.313rem;
    }
  }

  &--sm--fill {
    background-color: $green;
    min-height: 2.5rem;
    max-height: 2.5rem;
    color: $dark;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: $green-hover;
    }

    @include desktop {
      max-width: 10.313rem;
    }
  }

  @include flex(auto, row, wrap);
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
