.card {
  @include flex(auto, column, wrap);
  padding: 1.375rem;
  border-radius: 0.5rem;
  border: 0.063rem solid $purple;
  background-color: $dark-200;
  gap: 1.375rem;

  @include desktop {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  @include ux-desktop {
    min-height: 50rem;
  }

  @include uu-desktop {
    min-height: 80rem;
  }

  &__banner {
    @include flex(auto, row, wrap);
    min-height: 13.875rem;
    border-radius: 0.25rem;
    background-color: $dark;
    align-items: center;
    justify-content: center;

    img {
      max-width: 7.5rem;
      max-height: 7.5rem;
    }

    @include ux-desktop {
      min-height: 25rem;
    }

    @include uu-desktop {
      min-height: 40rem;
    }
  }

  &__texts {
    @include flex(auto, column, nowrap);
    max-height: 8.563rem;
    gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    @include ux-desktop {
      max-height: 15rem;
    }

    @include uu-desktop {
      max-height: 30rem;
    }
  }

  &__btns {
    @include flex(auto, row, wrap);
    gap: 0.438rem;

    @include desktop {
      margin-top: 3rem;
    }

    @include ux-desktop {
      align-items: flex-end;
    }
  }
}
