form {
  @extend .button;
  flex-wrap: nowrap;
  justify-content: start;
  gap: 1rem;
  padding: 1rem;
  background: none;
  min-height: 3.875rem;
  max-height: 3.875rem;
  color: $light;
  border: 0.063rem solid $purple;
  transition: max-width 0.2s ease-out;

  &:hover {
    max-width: 20rem;
  }

  @include laptop {
    max-width: 15.5rem;
  }

  input {
    @include flex(auto, row, wrap);
    background: none;
    border: none;
    outline: none;
    color: $light;
    text-transform: none;

    &::placeholder{
      color: $gray;
      text-transform: uppercase;
    }
  }
}
