@mixin flex($flex, $direction, $wrap) {
  flex: $flex;
  display: flex;
  flex-flow: $direction $wrap;
}

// @mixin grid($width) {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
//   grid-auto-rows: max-content;
// }

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
}
