* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include flex(auto, column, wrap);
  padding: 1.5rem 1.438rem 8.5rem 1.438rem;

  @include lg-desktop {
    padding: 3.938rem 5rem 3rem 5rem;
  }

  @include xx-desktop {
    padding: 3.938rem 10rem 3rem 10rem;
  }

  @include ux-desktop {
    padding: 3.938rem 21.625rem 3rem 21.625rem;
  }
}

// scroll
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: $dark-200;
}

// selection
::selection {
  color: $light;
  background: $purple;
}