* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  @include flex(auto, column, wrap);
  // position: absolute;
  // width: 100%;
  // height: 100%;
  padding: 1.5rem 1.438rem 8.5rem 1.438rem;
}