@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=IBM+Plex+Mono:wght@100&display=swap');

h1 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem;
  font-weight: 600;
  color: $light;

  @include desktop {
    font-size: 4rem;
  }
}

h2 {
  @extend h1;
  font-size: 1.375rem;
  font-weight: bold;

  @include desktop {
    font-size: 1.5rem;
  }
}

.logo {
  &--icon {
    color: $purple;
  }

  &--green {
    color: $green;
    font-size: 0.875rem;

    @include desktop {
      font-size: 1.5rem;
    }
  }

  font-family: 'DM Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;

  @include desktop {
    font-size: 2rem;
  }
}

a {
  font-weight: 700;
  font-size: 1.063rem;
  color: $light;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'DM Sans', sans-serif;
}

p {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: $gray;

  @include desktop {
    font-size: 1.5rem;
  }
}

button, input {
  font-family: 'DM Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.938rem;
  font-weight: 700;
}

footer {
  .logo {
    font-size: 1.875rem;

    @include desktop {
      font-size: 3rem;
    }
  }
}
