footer {
  @include flex(auto, column, wrap);
  align-items: center;
  margin-top: 3.75rem;
  gap: 1.5rem;

  @include laptop {
    @include flex(auto, row, wrap);
  }

  @include desktop {
    margin-top: 8.75rem;
  }
}

.footer {
  &__section {
    @include flex(auto, row, wrap);
    justify-content: center;
    gap: 3rem;

    @include laptop {
      justify-content: end;
    }
  }
}
