header {
  @include flex(auto, column, wrap);
  gap: 3rem;

  @include desktop {
    gap: 6.563rem;
  }
}

.header {
  &__nav {
    @include flex(auto, column, wrap);
    gap: 3rem;

    @include laptop {
      @include flex(auto, row, wrap);
    }

    .header__section {
      &--left {
        gap: 0.2rem;
        
        @include laptop {
          justify-content: start;
        }

        @include desktop {
          gap: 0.5rem;
        }
      }
  
      &--right {
        gap: 3.875rem;
        a {
          display: none;
        }

        @include laptop {
          justify-content: end;
          a {
            display: block;
            transition: color 0.2s ease-out;

            &:hover {
              color: $gray;
            }
          }
        }
      }
  
      @include flex(auto, row, wrap);
      justify-content: center;
      
      @include laptop {
        align-items: center;
      }
    }
  }
  
  &__hero {
    @include flex(auto, column, wrap);
    gap: 1rem;

    @include desktop {
      gap: 2rem;
    }

    @include lg-desktop {
      max-width: 70%;
    }

    .header__titles {
      @include flex(auto, column, wrap);
      gap: 0.5rem;

      @include desktop {
        gap: 2rem;
      }
    }
  }
}
